<mat-card class="identity-card">
	<mat-card-header>
		<img mat-card-avatar src="assets/images/favicon-96x96.png">
		<!-- <mat-icon>security</mat-icon> -->
		<mat-card-title>MASTER</mat-card-title>
		<mat-card-subtitle>
			<mat-icon>fingerprint</mat-icon>
			4a:c8:55:57:29:1f:99:e1:5f:3b:dc:d2:40:1a:61:93:e5:fd:13:76<br>
			<mat-icon>fingerprint</mat-icon>93:b7:24:4e:69:de:86:9a:f6:9f:fa:c5:4b:bd:4b:a3:72:df:b9:67</mat-card-subtitle>
	</mat-card-header>
	<!-- <img mat-card-image src="assets/images/about.jpg"> -->
	<mat-card-content>

		<h3>Profile</h3>
		Name: John Doe<br>
		E-mail: john@doe.com<br>
		Phone: Zero<br>
		Age: 120<br>

	</mat-card-content>
	<mat-card-actions>
		<button mat-button>EDIT PROFILE</button>
		<!-- <a href="https://github.com/sondreb/ume" target="_blank" mat-button>SOURCE CODE</a> -->
	</mat-card-actions>

	<mat-card-footer class="identity-card-footer">

		<em>Identity labels are only locally stored and never sent across the network. If you restore an identity on another computer, you need to rename your identity. All other details are shared securely and encrypted on the network with community members.</em>

		<!-- <mat-icon>favorite</mat-icon> -->
	</mat-card-footer>
</mat-card>
<br>
<p>
    Identities are cryptographic entities that consists of a public key used for encryption, and another key for verification
    (message integrity).
</p>

<p class="input-form">
    <input type="hidden" name="identity-id" data-ume-bind="identity.publicFingerprint">
    <span>Nickname:</span>
    <input type="text" name="profile-nickname" data-ume-bind="profile.nickname">
    <br>
    <span>Name:</span>
    <input type="text" name="profile-name" data-ume-bind="profile.name">
    <br>
    <span>E-mail:</span>
    <input type="text" name="profile-email" data-ume-bind="profile.email">
    <br>
    <span>Phone:</span>
    <input type="text" name="profile-phone" data-ume-bind="profile.phone">
    <br>
    <span>Location:</span>
    <input type="text" name="profile-location" data-ume-bind="profile.location">
    <br>
    <br>
    <button data-ume-action="onProfileSave">Save and Publish profile</button>
</p>
<!-- <div id="identity-details">

</div> -->
