<!-- <div style="text-align: center;" *ngIf="!appState.authenticated">
	<h1> üme - collaborative community</h1>
	<p>You have two options to continue:</p>
	<button mat-raised-button color="primary" routerLink="/security/generate">New user</button>
	<button mat-raised-button color="primary" routerLink="/security/restore">Returning user</button>
	<br>
	<br>
	<img src="assets/images/favicon-256x256.png">
</div> -->

<div class="centered">
	<h1> üme - collaborative community</h1>
	<img src="assets/images/favicon-256x256.png">
	<br>
	<br>
	<p>
		<button mat-raised-button color="primary" routerLink="identity/generate">New user</button>
		<button mat-raised-button color="primary" routerLink="identity/restore">Returning user</button>
	</p>
	<br>
	<p>
		<button mat-button routerLink="introduction">Read the introduction</button>
		<br>
		<button mat-button routerLink="security">Read the security brief</button>
	</p>
	<!-- <h2>Activity Feed</h2>

	<p>
		<strong>Mr. Grey</strong> added a new post in #general</p>
	<p>
		<strong>Mr. Grey</strong> joined #general</p>
	<p>
		<strong>Mr. Grey</strong> joined #announcements</p> -->

</div>

<br>
<br>
<p class="warning-card" style="text-align: center;">
	WARNING: THIS IS AN UNRELEASED SOFTWARE. DO NOT USE FOR ANYTHING. WAIT FOR THE RELEASE.
</p>
