<h1>Open Source Licenses</h1>

<!-- <button mat-button>Click me!</button>

<mat-chip-list>
	<mat-chip>One fish</mat-chip>
	<mat-chip>Two fish</mat-chip>
	<mat-chip color="primary" selected="true">Primary fish</mat-chip>
	<mat-chip color="accent" selected="true">Accent fish</mat-chip>
</mat-chip-list> -->

<pre>
{{licenses}}
</pre>

<!-- <mat-card class="about-card">
	<mat-card-header>
		<img mat-card-avatar src="assets/images/favicon-96x96.png">
		<mat-card-title>üme</mat-card-title>
		<mat-card-subtitle>Version: {{version}}</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="assets/images/about.jpg">
	<mat-card-content>
		<p>Release photo by
			<a href="https://unsplash.com/photos/KgjcndVr7tU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nik MacMillan</a> on
			<a href="https://unsplash.com/">Unsplash</a>
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button>DONATE</button>
		<a href="https://github.com/sondreb/ume" target="_blank" mat-button>SOURCE CODE</a>
	</mat-card-actions>

	<mat-card-footer class="about-card-footer">
		<mat-icon>favorite</mat-icon>
	</mat-card-footer>
</mat-card> -->

<!-- <div class="about-box">
	<img src="assets/images/favicon-256x256.png">
	<h1>üme</h1>
	<p>Version: {{version}}</p>

	<p>üme is open source:</p><a href="https://github.com/sondreb/ume" target="_blank">https://github.com/sondreb/ume</a>

</div> -->
