<h1>
    Hi, welcome to üme, the collaborative community!
</h1>

<p>
    üme is a bit special, it is decentralized and does not require any servers or installations. It runs in your browser, you
    are both the host of the community and a member.
</p>

<p>üme is also special in another way, and that is how it enables community members to be anonymous and secure in their communication.
</p>

<p>Since üme only runs in your browser, and the browser is inherently insecure, no garantue can be give in regards to your privacy.
    All communication is secured with encryption and digital signatures. It is important that you trust the content in your
    community, so every message is signed by the creator.
</p>

<p>
    It is important that at least two member is online in the community to ensure that data is sent. The community owner must
    be online for new members to be able to join. Only the community owner's device can verify invitations.
</p>

<p>üme relies on a gateway for sending messages to all community members, this ensure that individual community members cannot
    discover the IP address of another user. The gateway is open source, but don't use a gateway host you don't trust, as
    the gateway could be modified to log the members IP addresse. Even with a log of IP addresses, all messages communicated
    are encrypted and cannot easily be decrypted. You should combine the use of üme with Tor Project and/or Virtual Private
    Network (VPN).
</p>

<p>
    All the content of a community is stored in an unencrypted manner in the web browser. If your device is stolen, the information
    can be accessed. There is an option to entirely delete local cache and always restore a community from the other members.
    This is a handy feature to use if accessing a community using someone elses computer or at an internet café.
</p>

<p>
    The app have a very easy functionality to take local backup copies of your communities, make sure you use them often.
</p>

<p>
    By using üme, you are accepting that the use of this app is entirely on your own responsbility. No guarantee is given by
    the developers, and we advice you to review the
    <a href="https://github.com/sondreb/ume" target="_blank">üme source code</a> at any time.
</p>
<i class="material-icons">favorite_border</i>
<p>
    <button mat-button routerLink="/">Go back...</button>
</p>
