<mat-card class="identity-card">
	<mat-card-header>
		<img mat-card-avatar src="assets/images/favicon-96x96.png">
		<mat-card-title>MASTER</mat-card-title>
		<mat-card-subtitle>4a:c8:55:57:29:1f:99:e1:5f:3b:dc:d2:40:1a:61:93:e5:fd:13:76<br>
			93:b7:24:4e:69:de:86:9a:f6:9f:fa:c5:4b:bd:4b:a3:72:df:b9:67</mat-card-subtitle>
	</mat-card-header>
	<!-- <img mat-card-image src="assets/images/about.jpg"> -->
	<mat-card-content>

		<h3>Profile</h3>
		Name: John Doe<br>
		E-mail: john@doe.com<br>
		Phone: Zero<br>
		Age: 120<br>

	</mat-card-content>
	<mat-card-actions>
		<button mat-button>EDIT PROFILE</button>
		<!-- <a href="https://github.com/sondreb/ume" target="_blank" mat-button>SOURCE CODE</a> -->
	</mat-card-actions>

	<mat-card-footer class="identity-card-footer">

		<em>Identity names are only locally stored and never sent across the network. If you restore an identity on another computer, you need to rename your identity. All other details are shared securely and encrypted on the network with community members.</em>

		<!-- <mat-icon>favorite</mat-icon> -->
	</mat-card-footer>
</mat-card>
