<p>
	üme has security as the most importance concern. It is built to ensure your privacy and security. All details regarding security implementation details are publicly available and source code is available for review. Before you use üme, you should familiar yourself with the security introduction.
</p>

<p>
	<button mat-button routerLink="introduction">Read the security brief...</button>
</p>

<h2>Your identities</h2>

<p>When you create a new community, üme will auto-generate a new identity for you.</p>
<p>You can create unlimited amount of identities for any number of forums, by creating or receiving multiple community invites. When you have multiple identities available for a specific forum, you can choose which identity to use for a post.
</p>

<div id="identities-list">

</div>
