@import '../variables.scss';
//@import '@angular/material/theming';

#sidebar {
	//box-shadow: 2px 0 10px 0 rgba(0,0,0,.5);
	box-shadow: 3px 0 6px rgba(0,0,0,.24);
	//box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.mat-drawer {
	//background-color: transparent;
}

.ume-sidenav-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;

	//box-sizing: border-box;
	//border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .ume-sidenav-menu a
  {
		vertical-align: super;
  }

  .ume-sidenav {
	//@include mat-elevation(10px);
	box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  }

  .ume-sidenav-menu
  {
	  height: 100%;
	  
  }

  .ume-sidenav-logo {
	height: 64px;
	text-align: center;
	padding-top: 20px;
	background-color: $main-color;
  }
  
  //.ume-sidenav-fab-container mat-sidenav {
	//max-width: 200px;
  //}
  
  //.ume-sidenav-fab-container .mat-sidenav-content,
  //.ume-sidenav-fab-container mat-sidenav {
	//display: flex;
	//overflow: visible;
  //}
  
  .ume-scrolling-content {
	overflow: auto;
	height: 100%;
  }

  .ume-content {
	//   padding-left: 20px;
	//   padding-right: 20px;
	  padding: 20px;
	  box-sizing: border-box;
  }
  
  .ume-fab.mat-mini-fab {
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 50000;
  }

.app-content {
	overflow: auto;
}

.mat-sidenav {
	width: 250px;
}

.ume-sidenav-options {
	height: 100%;
}

.ume-sidenav-communities {
	box-sizing: border-box;
	//padding-top: 20px;
	//padding-bottom: 20px;
	background-color: rgb(61, 61, 61);
	width: 56px !important;
	max-width: 56px;
	min-width: 56px;
}

.ume-sidenav-community
{
	box-sizing: border-box;
	width: 56px;
	height: 48px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 1px solid gray;
	text-align: center;
	font-size: 20px;
	padding-top: 6px;
	line-height: 40px;
	display: inline-block;
}

.ume-sidenav-community:hover
{
	background-color: white;
	cursor: pointer;
}

.ume-sidenav-community-active
{
	border-left: 4px solid $main-color;
	border-right: 4px solid transparent;
}

.ume-sidenav-community-add
{
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 26px;
	padding-top: 6px;
	line-height: 40px;
	display: inline-block;
}

.ume-sidenav-community-add:hover
{
	background-color: white;
	cursor: pointer;
}

.ume-sidenav-menu {
	box-sizing: border-box;
	//padding-top: 20px;
	//padding-bottom: 20px;
	background-color: #616161;

}

.ume-sidenav-menu .active {
	background-color: white;
}

.ume-sidenav-menu button {
	width: 100%;
	text-align: left;
	//padding: 20px;
}

.box, .container {
	height: 100%;
  }
  
  article, nav, aside, header, footer {

  }

  footer {
	  padding: 4px 10px;
	  background-color: $main-color;
  }
  
  #main > article {
	border-color: #cccc33;
	background: #dddd88;
	cursor: pointer;
  }
  
  #main > nav, #main > aside {
	border-color: #8888bb;
	background: #ccccff;
  }
  
  header, footer {
	// border-color: #eebb55;
	// background: #ffeebb;
  }

  .ume-menu-button
  {
	  position: absolute;
	  bottom: 10px;
	  left: 10px;
	  z-index: 10000;
	  background-color: #fafafa;
  }

  .community-selection {
	  margin: 10px;
	  width: 230px;
  }

  .sidebar-items {
	  background-color:#616161;

	  &-item {
		  //background-color: $main-color;
		  //padding: 10px;
		  display: block;
		  cursor: pointer;
		  color: #E0E0E0;

		  & .mat-icon {
			  width: 16px;
			  height: 16px;
			  font-size: 16px;
			  margin-right: 4px;
		  }
	  }

	  &-item:hover {
		background-color: #424242;
		color: #F5F5F5;
	  }

	//   &-item::before {
	// 	font-family: 'Material Icons';
	// 	font-weight: bold;
	// 	vertical-align: middle;
	// 	margin-right: 10px;
	// }
  }

  .sidebar-items-headline {
	  color: silver;
	  font-size: 0.8rem;
	  border-bottom: 1px solid rgb(100, 100, 100);

	  & span {
		  margin-left: 10px;
		  margin-right: 10px;
		  margin-top: 10px;
		  margin-bottom: 10px;
		  display: inline-block;
	  }

	  & .mat-icon-button {
		//width: 16px;
		//height: 16px;
		//font-size: 16px;
		//margin-right: 6px;
		//margin-top: 10px;
		//float: right;  
	  }

	  & .mat-icon {
		width: 16px;
		height: 16px;
		font-size: 16px;
		margin-right: 6px;
		margin-top: 10px;
		float: right;
	}
  }

//   .icon-face::before {
// 	content: "\E87C";
//   }

//   .icon-heart::before {
// 	content: "\E87D";
//   }

  .sidebar-items .active {
	background-color: #424242;
	color: #FAFAFA;
  }

  .introduction {
	  padding: 20px;
  }
