<ng-container class="container">
	<mat-sidenav-container class="ume-sidenav-container">

		<mat-sidenav #sidenav class="ume-sidenav" [mode]="appState.ismobile?'over':'side'" [(opened)]="appState.sidenav" disableClose="{{!appState.ismobile}}" fixedInViewport="true" fixedTopGap="0" fixedBottomGap="0">

			<div fxLayout="column" fxLayoutAlign="stretch" class="ume-sidenav-menu">

				<!-- <div class="ume-sidenav-logo">
					<mat-icon *ngIf="!showSearch" class="logo-icon">verified_user</mat-icon>
					<a class="logo-text">üme</a>
				</div> -->

				<div class="ume-sidenav-logo">
					<mat-icon class="logo-icon">verified_user</mat-icon>
					<a routerLink="/" class="logo-text">üme</a>
					<br> Avengers
				</div>

				<div fxLayout="row" class="ume-sidenav-options">
					<!-- <div class="ume-scrolling-content ume-sidenav-communities" id="sidenav-menu2" umeScroll> -->

					<div class="ume-scrolling-content ume-sidenav-communities" umeScroll>
						<a class="ume-sidenav-community ume-sidenav-community-active">A</a>
						<a class="ume-sidenav-community">L</a>
						<a class="ume-sidenav-community">C</a>
						<a class="ume-sidenav-community-add" href="#">
							<mat-icon>add_circle_outline</mat-icon>
						</a>
					</div>

					<div class="ume-scrolling-content ume-sidenav-menu" fxFlex="grow" umeScroll>

						<div class="sidebar-items">

							<div class="sidebar-items-headline">
								<span>TOPICS</span>
								<mat-icon>add_circle_outline</mat-icon>
							</div>

							<button mat-button routerLink="/topic/1" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>forum</mat-icon> announcements</button>
							<button mat-button routerLink="/topic/2" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>forum</mat-icon> general</button>

							<div class="sidebar-items-headline">
								<span>DIRECT MESSAGES</span>
								<mat-icon>add_circle_outline</mat-icon>
							</div>

							<button mat-button routerLink="/chat/me" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>favorite</mat-icon> You (Me)</button>
							<button mat-button routerLink="/chat/1" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>chat</mat-icon> 532334234</button>
							<button mat-button routerLink="/chat/2" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>chat</mat-icon> Mr. Right</button>
							<button mat-button routerLink="/chat/3" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>chat</mat-icon> Mr. Grey</button>


							<div class="sidebar-items-headline">
								<span>IDENTITIES</span>
								<mat-icon>add_circle_outline</mat-icon>
							</div>

							<button mat-button routerLink="/security/identities/62PByUXB" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>account_box</mat-icon>62PByUXB</button>
							<button mat-button routerLink="/security/identities/52PByUXB" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>account_box</mat-icon>52PByUXB</button>
							<button mat-button routerLink="/security/identities/31PByUXB" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>account_box</mat-icon>31PByUXB</button>


						</div>

					</div>

				</div>

			</div>

		</mat-sidenav>

		<mat-sidenav-content fxLayout="column">

			<header app-toolbar></header>

			<!-- <mat-toolbar class="example-header">
				<button fxHide fxShow.xs *ngIf="appState.authenticated" mat-icon-button (click)="sidenav.toggle()">
					<mat-icon aria-label="Open menu">menu</mat-icon>
				</button>
			</mat-toolbar> -->

			<div class="ume-content ume-scrolling-content" umeScroll>
				<!-- <app-breadcrumb></app-breadcrumb> -->
				<router-outlet></router-outlet>
			</div>

			<!-- <p>
				<button mat-button (click)="sidenav.toggle()">Toggle</button>
			</p>

			<mat-toolbar class="example-footer">Footer</mat-toolbar> -->
		</mat-sidenav-content>
	</mat-sidenav-container>
</ng-container>

<!-- 	  

<div class="container">

	<div class="box" fxLayout="column">
		<header app-toolbar></header>
		<div id="main" fxLayout="row" fxLayout.xs="column" fxFlex>

			<mat-sidenav-container class="ume-sidenav-fab-container" (backdropClick)="onBackdrop()" fixedInViewport="true" fixedTopGap="0" fixedBottomGap="0">

				<mat-sidenav *ngIf="appState.authenticated" #sidenav id="sidebar" [mode]="appState.ismobile?'over':'side'" [(opened)]="appState.sidenav" disableClose="{{!appState.ismobile}}">

					<div class="ume-scrolling-content ume-sidenav-communities" id="sidenav-menu2" umeScroll>
						<a class="ume-sidenav-community ume-sidenav-community-active">A</a>
						<a class="ume-sidenav-community">L</a>
						<a class="ume-sidenav-community">C</a>

						<a class="ume-sidenav-community-add" href="#">
							<mat-icon>add_circle_outline</mat-icon>
						</a>
					</div>
					||
					<div class="ume-scrolling-content ume-sidenav-menu" id="sidenav-menu" umeScroll>

						<div class="sidebar-items">

							<div class="sidebar-items-headline">
								<span>TOPICS</span>
								<mat-icon>add_circle_outline</mat-icon>
							</div>

							<button mat-button routerLink="/topic/1" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>forum</mat-icon> announcements</button>
							<button mat-button routerLink="/topic/2" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>forum</mat-icon> general</button>

							<div class="sidebar-items-headline">
								<span>DIRECT MESSAGES</span>
								<mat-icon>add_circle_outline</mat-icon>
							</div>

							<button mat-button routerLink="/chat/me" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>favorite</mat-icon> You (Me)</button>
							<button mat-button routerLink="/chat/1" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>chat</mat-icon> 532334234</button>
							<button mat-button routerLink="/chat/2" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>chat</mat-icon> Mr. Right</button>
							<button mat-button routerLink="/chat/3" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>chat</mat-icon> Mr. Grey</button>


							<div class="sidebar-items-headline">
								<span>IDENTITIES</span>
								<mat-icon>add_circle_outline</mat-icon>
							</div>

							<button mat-button routerLink="/security/identities/62PByUXB" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>account_box</mat-icon>62PByUXB</button>
							<button mat-button routerLink="/security/identities/52PByUXB" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>account_box</mat-icon>52PByUXB</button>
							<button mat-button routerLink="/security/identities/31PByUXB" routerLinkActive="active" class="sidebar-items-item">
								<mat-icon>account_box</mat-icon>31PByUXB</button>


						</div>

					</div>
				</mat-sidenav>

				<div class="ume-scrolling-content ume-content" umeScroll>
					<app-breadcrumb></app-breadcrumb>
					<router-outlet></router-outlet>
				</div>
			</mat-sidenav-container>
		</div>
		<footer *ngIf="appState.authenticated">

			<button mat-icon-button routerLink="/network">
				<mat-icon>{{statusIcon}}</mat-icon>
			</button>

			{{statusText}}

			<button [hidden]="appState.authenticated" mat-mini-fab class="ume-fab" [matMenuTriggerFor]="addmenu">
				<mat-icon>add</mat-icon>
			</button>

			<mat-menu [hidden]="appState.authenticated" #addmenu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before">

				<button mat-menu-item routerLink="/create/post">
					<mat-icon>comment</mat-icon>New post</button>
				<button mat-menu-item routerLink="/communities/create">
					<mat-icon>donut_small</mat-icon>New community</button>
				<button mat-menu-item routerLink="/create/invite">
					<mat-icon>vpn_key</mat-icon>New invite</button>
				<button mat-menu-item routerLink="/security/create">
					<mat-icon>account_box</mat-icon>New identity</button>

			</mat-menu>

		</footer>
	</div>
</div> -->
