:root {
    /* Considered changing the variable in JavaScript as oppose to having both variables here, 
     changed back to using only CSS variables and changin the classes. */
    --menu-width: 72px;
    --menu-width-open: 300px;
    --search-height: 60px;
}

html,
body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-size: 1rem;
}

h1 {
    margin: 0;
}

.action {
    cursor: pointer;
}

.logo {
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.list li {
    margin-bottom: 10px;
}

.warning-card {
    color: red;
}

.hidden {
    display: none;
}

.menu {
    position: absolute;
    width: var(--menu-width);
    height: 100%;
    overflow: none;
    padding: 0px;
    background: #6DA5AF;
    background: linear-gradient(to bottom right, #6DA5AF, #5d878f);
    font-size: 14px;
}

.menu-container {
    padding: 6px;
}

.menu .opened {
    display: none;
}

.menu.open {
    width: var(--menu-width-open);
}

.menu.open .opened {
    display: inline-block;
}

.menu.open .closed {
    display: none;
}

.menu-legend {
    font-size: 24px;
    margin-top: 14px;
    margin-left: 10px;
    vertical-align: top;
}

.menu-item {
    cursor: pointer;
}

.menu-item:hover {
    color: white;
}

.menu {
    /* transition: width 0.2s ease-in;
    transition: height 0.2s ease-in; */
    transition: width 0.1s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu.open {
    /* transition: width 0.3s ease-out;
    transition: height 0.3s ease-out; */
    transition: width 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.input-form {

}

.input-form span {
    width: 100px;
    display: inline-block;
}

.input-form input {
    width: 200px;
}

.input-form button {
    margin-left: 100px;
    margin-top: 20px;
}

.container {
    left: var(--menu-width);
    position: absolute;
    width: calc(100% - var(--menu-width));
    height: 100%;
    overflow: none;
}

.container.open {
    left: var(--menu-width-open);
    width: calc(100% - var(--menu-width-open));
}

.top-bar {
    height: var(--search-height);
    overflow: none;
}

.top-bar-container {
    padding: 4px;
}

button {
    font-size: 1.4rem;
    padding: 0.6rem;
}

.top-bar input {
    font-size: 24px;
    padding: 10px;
}

.top-bar input {
    width: calc(100% - 50px);
}

.content {
    height: calc(100% - var(--search-height) - 40px);
    overflow: auto;
    padding: 20px;
}

.centered {
    text-align: center;
}

.title-opened {
    color: white;
    font-size: 48px !important;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-left: 40px;
}

.title-closed {
    color: white;
    font-size: 20px !important;
    margin: 0;
    padding: 0;
    text-align: center;
}

.app-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.page {
    display: none;
}

.page-open {
    display: block;
}

.key-text {
    width: 100%;
    height: 80px;
}

.post-text {
    width: 100%;
    min-height: 300px;
}

.key-button {
    font-size: 1.2rem;
    padding: 0.4rem;
}

.small-icon {
    font-size: 18px;
    line-height: 18px;
}

.action-item {
    font-size: 28px;
    line-height: 32px;
    display: inline-flex;
    vertical-align: text-top;
    cursor: pointer;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.action-item:hover {
    color: #444444;
}

.action-item .material-icons { 
    line-height: 32px !important; 
    margin-right: 8px !important;
}

.top-bar-container {
    font-size: 28px;
    line-height: 32px;
    height: 48px;
    display: flex;
}

.top-bar-container .material-icons { 
    line-height: 32px !important;
    font-size: 50px;
    margin-top: 8px;

 }

 /* .create-item {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
 } */

 .community-icon {
     float: left;
     font-size: 80px;
     margin-right: 10px;
 }

.float-right {
    float: right;    
}

.community-item {
    border: 1px solid silver;
    background-color: #F9F9F9;
    padding: 20px;
    margin-bottom: 10px;
}

.community-item-id {
    font-size: 0.8rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}

@media (max-width: 1200px) {
    /* body {
        margin: 40px !important;
    } */
}

@media (max-width: 700px) {

    .title-closed {
        display: none;
    }

    .menu-container>div {
        float: left;
    }

    .menu .opened-device {
        display: none;
    }

    .menu.open .opened-device {
        display: inline-block;
    }

    .logo {
        height: 48px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .menu-item {
        margin-left: 20px;
    }

    .menu {
        width: 100% !important;
        height: var(--menu-width) !important;
        bottom: 0px !important;

        overflow: auto;
    }

    .menu.open {
        width: 100% !important;
        height: var(--menu-width-open) !important;
        bottom: 0px !important;
    }

    .container {
        left: 0 !important;
        width: 100% !important;
        /*bottom: var(--menu-width) !important;*/
        height: calc(100% - var(--menu-width));
    }

    .container.open {
        left: 0 !important;
        width: 100% !important;
        /*bottom: var(--menu-width-open) !important;*/
        height: calc(100% - var(--menu-width-open));
    }

    .content {
        /* Don't know why the extra 32px was needed to make it look proper. */
        height: calc(100% - var(--menu-width) - var(--search-height) + 32px) !important; 
    }

    .menu {
        transition: height 0.1s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .menu.open {
        transition: height 0.2s;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

@media (min-width: 700px) and (orientation: landscape) {}