<p class="chat-header">
	<strong>This is you (and me, in other words)</strong>. Here is place where you can type and store notes, messages and other content that you want to keep available. Since üme is distributed and synchronized, you can use this chat to easily send notes and details to your other devices where you use üme. Anything you write here is encrypted and only ever visible to you.
</p>

<hr>

<p>
	<strong>You</strong> @ 2017-11-15 00:10</p>
<p>This is a note to myself!</p>

<hr>

<p>
	<strong>You</strong> @ 2017-11-15 00:10</p>
<p>Username: User, Password: Pass</p>

<hr>

<div class="chat-input-region">

	<mat-form-field class="input-full-width">
		<textarea matInput placeholder="Leave a note" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10"></textarea>
	</mat-form-field>

	<button mat-raised-button color="primary">Send</button>

</div>

<!-- <button mat-mini-fab color="primary">Primary</button>

<mat-form-field class="input-full-width">
	<textarea matInput placeholder="Leave a note"></textarea>
</mat-form-field> -->

<!-- <h1 id="community-view-name">NAME</h1>
<p id="community-view-id">ID</p>

<p id="community-view-description">DESCRIPTION</p>

<h2>Topics</h2>
<p>
    Memes (20)
    <br> I forgot it's Friday! (4)
    <br> Random (325)
    <br>
</p>

<h2>Members</h2>
<p>
    22PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA= | John Doe
    <br> x2PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA=
    <br> 87PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA= | Mr. Nick (nick@gmail.com)
    <br>
</p> -->
