<div fxLayoutWrap fxLayoutGap="10px" fxLayoutAlign="start stretch">

	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Announcements</mat-card-title>
			<mat-card-subtitle>Where all good things go.</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				4 new posts<br>
				2 new members<br>
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>OPEN</button>
			<button mat-button>HIDE</button>
			<button mat-button>JOIN</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="example-card backside-card">

		<div class="card-backside">

			<button matButton><mat-icon>close</mat-icon></button>
			<br>
			Join Topic<br>
			Hide Topic<br>
		</div>

		<!--
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Shiba Inu</mat-card-title>
			<mat-card-subtitle>Dog Breed</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		</mat-card-actions>-->
	</mat-card>

	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Shiba Inu</mat-card-title>
			<mat-card-subtitle>Dog Breed</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Shiba Inu</mat-card-title>
			<mat-card-subtitle>Dog Breed</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		</mat-card-actions>
	</mat-card>

	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Shiba Inu</mat-card-title>
			<mat-card-subtitle>Dog Breed</mat-card-subtitle>
		</mat-card-header>
		<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		</mat-card-actions>
	</mat-card>

</div>

<!-- <p class="chat-header">
	<strong>This is you (and me, in other words)</strong>. Here is place where you can type and store notes, messages and other content that you want to keep available. Since üme is distributed and synchronized, you can use this chat to easily send notes and details to your other devices where you use üme. Anything you write here is encrypted and only ever visible to you.
</p>

<hr>

<p>
	<strong>You</strong> @ 2017-11-15 00:10</p>
<p>This is a note to myself!</p>

<hr>

<p>
	<strong>You</strong> @ 2017-11-15 00:10</p>
<p>Username: User, Password: Pass</p>

<hr>

<div class="chat-input-region">

	<mat-form-field class="input-full-width">
		<textarea matInput placeholder="Leave a note" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="10"></textarea>
	</mat-form-field>

	<button mat-raised-button color="primary">Send</button>

</div> -->

<!-- <button mat-mini-fab color="primary">Primary</button>

<mat-form-field class="input-full-width">
	<textarea matInput placeholder="Leave a note"></textarea>
</mat-form-field> -->

<!-- <h1 id="community-view-name">NAME</h1>
<p id="community-view-id">ID</p>

<p id="community-view-description">DESCRIPTION</p>

<h2>Topics</h2>
<p>
    Memes (20)
    <br> I forgot it's Friday! (4)
    <br> Random (325)
    <br>
</p>

<h2>Members</h2>
<p>
    22PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA= | John Doe
    <br> x2PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA=
    <br> 87PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA= | Mr. Nick (nick@gmail.com)
    <br>
</p> -->
