<p>
	üme has security as the most importance concern. It is built to ensure your privacy and security. All details regarding security implementation details are publicly available and source code is available for review. Before you use üme, you should familiar yourself with the security introduction.
</p>

<ul class="list">
	<li>The app and gateway does not at any time retrieve your IP address or any unique device IDs. Before though of rouge gateway hosts, which could do IP-logging. Use gateways you trust.</li>
	<li>The gateway receives no messages that it can decrypt in any way. The gateway have no capability to read any metadata from messages.</li>
	<li>All content is stored in clear-text and unencrypted within the web browser. If your device is stolen, the community information can be read from the device.</li>
	<li>All content in a community can at any time be exported to a text-based format (JSON) by anyone with access to the community.
	</li>
	<li>Users can stay entirely anonymous with only a unique identifier as their "nickname". Membership to different communities, will give different unique identifiers and different set of public/private keys.
	</li>
	<li>The web browser is notoriously **not a very secure** and safe environment. The possibility of XSS (Cross-Side-Scripting) attacks and other forms of attacks on üme, could leak information and your private keys. There are no way around this, as long as the app is built to run within the web browser without any plugins and installations.</li>
	<li>If you need privacy and safety of information on a device or computer that can be **lost or stolen**, do not rely on üme. If you still use üme and want better security, ensure you are using disk encryption on your harddrive.</li>
	<li>üme is based on the
		<a href="https://en.wikipedia.org/wiki/Elliptic_Curve_Digital_Signature_Algorithm">ECDSA</a> (Elliptic Curve Digital Signature Algorithm) for message signing and integrity checking and uses
		<a href="https://en.wikipedia.org/wiki/Elliptic_curve_Diffie%E2%80%93Hellman">ECDH</a> for sharing secret keys. And finally it relies on
		<a href="https://en.wikipedia.org/wiki/Galois/Counter_Mode">AES-GCM</a> for symmetric encryption of content.</li>
</ul>

<h2>FAQ</h2>

<p>
	Q: Why was üme built?
</p>
<p>
	A: It was built for the challenge of building a highly secure and anonymous forum that did not require any infrastructure. Being able to create ad-hoc communities that only lasts for a project or certain amount of time, is something üme is good for.
</p>
<p>
	It also allows for people who don't want to use other social networks, which require a lot of personal information details and does extensive logging and analysis of user patterns and everything that we share, to still be social in a manner where the user decides how much information they want to share. The only requirement for a user is a unique identifier derived from the public key. If you don't want to share nickname, real-name or other contanct details, you don't have to.
</p>

<p>
	Q: Will there be an üme app for mobile devices?
</p>
<p>
	A: No, the app only supports running in the web browser.
</p>

<p>
	Q: Are the content and security keys stored safely in the web browser?
</p>
<p>
	A: No. There are few options to store local information in an encrypted and secure manner when only relying on the web browser. Developing a Cordova and/or Electron container could enable more secure local storage.
</p>

<p>
	Q: Can I use üme to share sensitive and secret information?
</p>
<p>
	A: While the app has been built for security and privacy as the main reasons for existing, you should not rely on üme for sensitive and secret information. This is an open source project with limited resources available for security review and monitoring of potential hacks, exploits, etc.
</p>

<h2>The future</h2>

<p>There are many ways to improve the security and the functionality, some potential ideas that will be investigated and potentially developed:
</p>

<p>Time-to-life (TTL): Allowing messages to be self-destructed after a set time. This obviously won't be 100% secure, if a user takes backup of their local community using third-party code, the TTL messages can be saved to local disk and persisted. If a message has TTL, should it be part of a regular community backup?
	<br> TTL on message would make it possible to have time-sensitive announcements, e.g. "Concert next weekend!" and have those disappear when they are no longer of any value.
</p>

<p>Elektron app: Package the web app into an elektron app, allowing users to download the app for OS X, Linux and Windows.</p>

<p>Improved UX: The app is currently built with extensive informational texts, the plan is to redo the UX and make it more user friendly with wizards and walkthroughs that shows multiple screens, as oppose to single screen with lots of options.
</p>

<h2>Disclaimer</h2>

<p>
	Any operations on the file system is prone to problems. Using üme is done under no warranty. Make sure you take backups before using üme.

	<p>The developers gives no guarantee that information created and published using üme won't be lost for any reason at any time.
	</p>
	<p>While great care is taken to avoid problems, you are using the app under your own risk. If you loose your private keys, you won't be able to manage your existing content and you need a new invitation to gain access to the community. Keep your keys safe on preferably external storage (USB stick).
	</p>

	<i class="material-icons">favorite_border</i>
	<p>
		<button mat-button routerLink="../">Go back...</button>
	</p>
