.breadcrumb {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;	
	font-size: 0.8rem;
	margin-bottom: 8px;
	margin-top: -30px;

	//margin-top: 6px;
	//margin-bottom: 10px;

	& li {
		display: inline-block;
		margin: 0;
		padding: 0;
		padding: 0 0px;

		// .last {
		// 	color: blue !important;
		// 	content: "";
		// }
	}

	& li::after {
		content: "\E5CC";
		font-family: 'Material Icons';
		font-weight: bold;
		vertical-align: middle;
	}

	// .last {
	// 	color: blue;
	// }

	.last::after {
		content: ''
	}
}
