<i class="material-icons float-right">donut_small</i>
<i class="material-icons float-right action" data-ume-page="home">chevron_left</i>
<h1>Communities</h1>

<p>These are the communities that you have joined or have created.</p>

<div id="communities-list">

</div>

<!-- <br><br><br><br>

<p class="community-item">
    <i class="material-icons community-icon">free_breakfast</i>
    <i class="material-icons float-right action" data-ume-page="community">chevron_right</i>
    <strong>Friday Fun!</strong><br>
    <span class="community-item-id">31PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA=</span><br> Posts: 12<br>                    Latest post: 2017-09-03 15:03<br>
</p>

<p class="community-item">
    <i class="material-icons community-icon">hot_tub</i>
    <i class="material-icons float-right action" data-ume-page="community">chevron_right</i>
    <strong>üme planning group</strong><br>
    <span class="community-item-id">52PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA=</span><br> Posts: 4<br>                    Latest post: 2017-09-03 12:20<br>
</p>

<p class="community-item">
    <i class="material-icons community-icon">cake</i>
    <i class="material-icons float-right action" data-ume-page="community">chevron_right</i>
    <span class="community-item-id">62PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA=</span><br> Posts: 354<br>                    Latest post: 2017-09-03 16:03<br>
</p> -->

<!-- <p>Apperas to be a bit empty here. Do you want to join existing community or create a new one?</p>
<p>
    <div class="action-item" data-ume-page="create"><i class="material-icons">add</i> Create</div>
</p> -->