<i class="material-icons float-right">add</i>
<i class="material-icons float-right action" data-ume-page="home">chevron_left</i>
<h1>Create</h1>

<p>You can create posts, communities, invites and more on this page.</p>
<div class="action-item" data-ume-page="create-post">
    <i class="material-icons">comment</i> New post</div>
<br>
<div class="action-item" data-ume-page="create-community">
    <i class="material-icons">donut_small</i> New community</div>
<br>
<div class="action-item" data-ume-page="create-invite">
    <i class="material-icons">vpn_key</i> New invite</div>
<br>
<div class="action-item" data-ume-page="restore-pass-phrase">
    <i class="material-icons">restore</i> Restore from pass phrase</div>
<br>
<br>

<!-- <i class="material-icons">verified_user</i>
<i class="material-icons">contact_mail</i>
<i class="material-icons">vpn_key</i>
<i class="material-icons">question_answer</i>
<i class="material-icons">restore</i>
<i class="material-icons">comment</i>
<i class="material-icons">message</i> -->
