<i class="material-icons float-right">donut_small</i>
<i class="material-icons float-right action" data-ume-page="create">chevron_left</i>
<h1>New community</h1>
<p>You can create any number of new communities. When you create a community, you become the sole owner of the community.
</p>
<p>It is important that you keep a backup of your private key and pass phrase, in case you loose your data or change device.</p>
<p>As the owner of a community, you can invite new members, archieve the community (make it read-only) and delete the community
    (members can make a decision to save backup before removing).</p>
<p>Running a community comes with some responsibility. You need to be online for new members to activate their invitation. For
    security reasons, the invites are only stored on the owner's device.</p>
<p>A community with no other users, will never be synchronized online and can never be restored from pass phrase. Make sure
    you invite someone to join your community.</p>
<p>In the future, it might be possible for a community owner to remove a post done by other users.</p>


<button data-ume-action="onGenerateCommunity">Generate Community</button>
<br>
<br>

<h2>1. Community key pair</h2>

<p>Restoring a community using the private key does not require other users to be connected, but you will not receive any existing
    posts until others have connected.</p>

<p>
    Private Key:
    <textarea id="community-private-key" class="key-text" readonly></textarea>
    <button data-ume-action="onSaveCommunityPrivateKey" class="key-button">Save Key to local disk</button>
</p>

<p>
    Public Key:
    <textarea id="community-public-key" class="key-text" readonly></textarea>
    <button data-ume-action="onSaveCommunityPublicKey" class="key-button">Save Key to local disk</button>
</p>
<br>

<h2>2. Pass phrase for community restore</h2>
<p>The following pass phrase must be remembered or save, to make it possible to restore a community ownership on another device.
    Restoring a community from the pass phrase, require at least one other member to be connected. A tip when storing the
    pass phrase, is to modify the words slightly, perhaps exchange one word for another that only you remember. If stolen,
    then it is useless unless they know what you changed.
</p>
<p>
    Pass phrase:
    <textarea id="community-pass-phrase" class="key-text" readonly></textarea>
    <button data-ume-action="onSaveCommunityPassPhrase" class="key-button">Save Pass phrase to local disk</button>
</p>
<br>

<h2>3. Community details</h2>
<p>
    No details for the community is required to fill out. You can leave all fields empty, you can change them later. Remember
    the community Id for the next screen, when you will generate invitations to this community.
</p>
<p>
    ID:
    <input id="community-id" readonly type="text" />
</p>
<p>
    Name:
    <input id="community-name" type="text" />
</p>
<p>
    Description:
    <input id="community-description" type="text" />
</p>
<p>
    Icon:

</p>
<br>

<h2>4. Gateway affinity</h2>
<p>
    A community can be locked to a specific gateway, or it can be broadcasted on all your registered gateways.
</p>
<p>
    Gateway:
    <select id="gateway-select-list">
    </select>
</p>
<br>

<h2>5. Save community</h2>
<p>The final step is to save a community. This will persist the community key pair to your currenct device. Next step will be
    to invite members to join your community, including yourself.</p>
<p>Yes, that is right. To be able to gain access to this new community, you need to invite yourself.</p>
<p>
    <button data-ume-action="onSaveCommunity">Save</button>
</p>
<br>