<i class="material-icons float-right">comment</i>
<i class="material-icons float-right action" data-ume-page="create">chevron_left</i>
<h1>New post</h1>
<p>Posts are your means of communication within a community. It allows for basic text editor and topics.</p>
<p>
    Community:
    <br>
    <select>
        <option>31PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA= | Friday Fun! </option>
        <option>52PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA= | üme planning group</option>
        <option>62PByUXB/ZrMg5x19Fz5K8Qk6345auYSRGuqk6dz0FA=</option>
    </select>
</p>
<p>
    Channel:
    <br>
    <input type="text" />
</p>
<p>
    <textarea class="post-text">

        </textarea>
</p>
<p>
    <button class="key-button">Publish</button>
</p>