<h1>
    Hi, welcome to üme, the collaborative community!
</h1>

<p>
    üme is a bit special, it is decentralized and does not require any servers or installations. It runs in your browser, you
    are both the host of the community and a member.
</p>

<button data-v-open="introduction">Read the introduction...</button>

<p class="warning-card">
    WARNING: THIS IS AN UNRELEASED SOFTWARE. DO NOT USE FOR ANYTHING. WAIT FOR THE RELEASE.
</p>

<!-- <p>&nbsp;</p>
<p>
    <div class="action-item" data-ume-page="create"><i class="material-icons">add</i> Create</div>
    <div class="action-item" data-ume-page="communities"><i class="material-icons">donut_small</i> Communities</div>
    <div class="action-item" data-ume-page="security"><i class="material-icons">security</i> Security</div>
    <div class="action-item" data-ume-page="clear"><i class="material-icons">delete_forever</i> Clear Device</div>
    <div class="action-item" data-ume-page="settings"><i class="material-icons">settings</i> Settings</div>
</p> -->