<i class="material-icons float-right">settings</i>
<i class="material-icons float-right action" data-ume-page="home">chevron_left</i>
<h1>Settings</h1>

<p>To begin using üme, you need to be connected to at least one gateway. Manage your gateway connections below.</p>

<h2>Add gateway</h2>

<p class="input-form">
    <span>Name:</span>
    <input name="gateway-name" type="text" />
    <br>
    <span>URL:</span>
    <input name="gateway-url" type="text" />
    <br>
    <button data-ume-action="onGatewaySave">Save Gateway</button>
</p>

<h2>Gateways</h2>

<p id="gateway-list">

</p>