<i class="material-icons float-right">settings</i>
<i class="material-icons float-right action" data-ume-page="home">chevron_left</i>
<h1>Settings</h1>

<p>To begin using üme, you need to be connected to at least one gateway. Manage your gateway connections below.</p>

<h2>Add gateway</h2>

<form class="input-form" data-v-submit="onGatewaySave">
    <span>Name:</span>
    <input name="gateway-name" type="text" data-v-bind="gateway-name" />
    <br>
    <span>URL:</span>
    <input name="gateway-url" type="text" data-v-bind="gateway-url" />
    <br>
    <button type="submit">Save Gateway</button>
    <!-- <button data-v-action="onGatewaySave">Save Gateway</button> -->
</form>

<h2>Gateways</h2>

<p id="gateway-list" data-v-list="gateway|gateways">
    <span data-v-item="name"></span>
    <span data-v-item="url"></span>
    <i class="material-icons small-icon action" data-v-item-action="removeGateway">delete</i>
</p>
