/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: gray;
}

a:hover {
	color: black;
	text-decoration: underlined;
}

.unsupported {
	padding: 50px;
	background-color: #f44336; // mat-warn
	text-align: center;
	height: 100%;
	box-sizing: border-box;
}

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.0);
}

// .app-container {
// 	display: flex; 
// 	box-sizing: border-box; 
// 	flex-direction: column;
// }

// @keyframes scrollbars {
//     from {width: 8px;}
//     to {width: 16px;}
// }

.scroll {
	//background-color: red !important;

	//animation-name: scrollbars;
    //animation-duration: 4s;
}

.scroll::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */

  //animation-name: scrollbars;
  //animation-duration: 4s;
}

.scroll::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

.scroll::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.fill-remaining-space {
	flex: 1 1 auto;
}

.logo-icon {
	
}

.logo-text {
	font-size: 1.6rem !important;
	margin-right: 6px;
	text-decoration: none;
	color: black;
}

.centered {
	text-align: center;
}

/* Fixes a bug with the latest release of flex/material. */
.mat-toolbar {
	display: flex;
}


.input-full-width {
	width: 100%;
  }

.input-icon-width {
	width: 50px;
}
