<mat-toolbar color="primary" fxHide.xs="{{!appState.main}}">

	<button *ngIf="appState.authenticated" mat-icon-button (click)="appState.toggleNavigation()">
		<mat-icon aria-label="Open menu">menu</mat-icon>
	</button>

	<!-- <button fxHide fxShow.xs *ngIf="appState.authenticated && !showSearch" mat-icon-button (click)="appState.toggleNavigation()">
		<mat-icon *ngIf="appState.sidenav" aria-label="Hide menu">arrow_back</mat-icon>
		<mat-icon *ngIf="!appState.sidenav" aria-label="Open menu">menu</mat-icon>
	</button> -->

	<!-- <mat-icon *ngIf="!showSearch" class="logo-icon">verified_user</mat-icon>
	<a *ngIf="!showSearch" routerLink="/" class="logo-text">üme</a> -->

	<span class="ume-toolbar-title">{{appState.title}}</span>

	<!-- <button mat-icon-button (click)="onGoBack()">
		<mat-icon aria-label="Go back">arrow_back</mat-icon>
	</button> -->

	<span *ngIf="!showSearch" class="fill-remaining-space"></span>

	<mat-form-field *ngIf="showSearch" class="fill-remaining-space search-input" hideRequiredMarker="true" floatPlaceholder="never">
		<input matInput placeholder="Fill out search term" required>
	</mat-form-field>

	<button *ngIf="appState.authenticated" mat-icon-button (click)="onSearch()">
		<mat-icon>search</mat-icon>
	</button>

	<button *ngIf="appState.authenticated" mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>

	<mat-menu #menu="matMenu">
		<!-- <button mat-menu-item>
			<mat-icon>dialpad</mat-icon>
			<span>Redial</span>
		</button>
		<button mat-menu-item disabled>
			<mat-icon>voicemail</mat-icon>
			<span>Check voicemail</span>
		</button>
		<button mat-menu-item>
			<mat-icon>notifications_off</mat-icon>
			<span>Disable alerts</span>
		</button> -->

		<button mat-menu-item routerLink="/security/restore" routerLinkActive="active">
			<mat-icon aria-label="Clear device">restore</mat-icon> Restore from pass phrase</button>

		<button mat-menu-item routerLink="/wipe" routerLinkActive="active">
			<mat-icon aria-label="Clear device">delete_forever</mat-icon> Clear Device</button>

		<button mat-menu-item routerLink="/settings" routerLinkActive="active">
			<mat-icon aria-label="Go offline">cloud_off</mat-icon>Go offline</button>
		<button mat-menu-item routerLink="/settings" routerLinkActive="active">
			<mat-icon aria-label="Settings">settings</mat-icon>Settings</button>

	</mat-menu>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="appState.ismobile && !appState.main">
	<button mat-icon-button (click)="onGoBack()">
		<mat-icon aria-label="Go back">arrow_back</mat-icon>
	</button>
	<span class="ume-toolbar-title">{{appState.title}}</span>
	<span class="fill-remaining-space"></span>
	<mat-icon *ngIf="appState.icon">{{appState.icon}}</mat-icon>
</mat-toolbar>

<!-- <mat-toolbar color="primary" class="mobile-toolbar">
	<button mat-icon-button (click)="onGoBack()">
		<mat-icon>arrow_back</mat-icon>
	</button>

	<span class="logo-text">{{appState.title}}</span>

	<span class="fill-remaining-space"></span>

	<button mat-icon-button>
		<mat-icon>search</mat-icon>
	</button>
	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>

	<mat-menu #menu="matMenu">
		<button mat-menu-item>
			<mat-icon>dialpad</mat-icon>
			<span>Redial</span>
		</button>
		<button mat-menu-item disabled>
			<mat-icon>voicemail</mat-icon>
			<span>Check voicemail</span>
		</button>
		<button mat-menu-item>
			<mat-icon>notifications_off</mat-icon>
			<span>Disable alerts</span>
		</button>

		<button mat-menu-item routerLink="/settings" routerLinkActive="active">
			<mat-icon aria-label="Example icon-button with a heart icon">cloud_off</mat-icon>Go offline</button>
		<button mat-menu-item routerLink="/settings" routerLinkActive="active">
			<mat-icon aria-label="Example icon-button with a heart icon">settings</mat-icon>Settings</button>

	</mat-menu>
</mat-toolbar> -->
