<div class="centered">
	<h1> üme - collaborative community</h1>
	<img src="assets/images/favicon-256x256.png">
</div>

<br><br>

<p>
	Hi, welcome to üme. üme is a bit special, it is decentralized and does not require any servers or installations. It runs in your browser, you are both the host of the community and a member. üme is also secure, very secure. üme protects your privacy, and you control your identities.
</p>

<button mat-button routerLink="introduction">Read the introduction...</button>
<br>
<br>


<p class="warning-card">
	WARNING: THIS IS AN UNRELEASED SOFTWARE. DO NOT USE FOR ANYTHING. WAIT FOR THE RELEASE.
</p>
