<div class="container">
	<form (ngSubmit)="onSubmit()" #form="ngForm">

		<mat-form-field class="input-full-width">
			<input matInput placeholder="Name" value="" name="name" required maxlength="100" [(ngModel)]="model.name" #name="ngModel">
		</mat-form-field>

		<br>

		<mat-form-field class="input-icon-width" floatPlaceholder="always">
			<mat-select placeholder="Icon" #select="matSelect" name="icon" [(ngModel)]="model.icon">
				<mat-select-trigger>
					<mat-icon>{{ select.value }}</mat-icon>
				</mat-select-trigger>
				<mat-option *ngFor="let icon of icons" [value]="icon">
					<mat-icon>{{ icon }}</mat-icon>
				</mat-option>
			</mat-select>
		</mat-form-field>

		<br>

		<button type="submit" mat-raised-button color="primary" [disabled]="!form.form.valid">Submit</button>

	</form>
</div>
